{% extends 'base.html.twig' %}
{% block content %}
<style>
    .repo.name {
        width: 300px;
    }

    span.repo-permission-pull {
        color: red;
    }

    span.repo-permission-push {
        color: blue;
    }


</style>

{% if org.login is defined %}
    {% block title_block %}Org {{ org.login }}{% endblock title_block %}
{% endif %}

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Actived Repos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="script-tab" data-toggle="tab" href="#script" role="tab" aria-controls="script" aria-selected="false">Script</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Archived Repos</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <ul class="list-group list-group-flush">
          {% for repo in repos %}
              {% if repo.archived == false %}
          <li class="list-group-item">
              {% include "includes/repo_badges.html.twig" %}
              <a href="{% if repo.homepage is empty %}{{ repo.html_url}}{% else %}{{ repo.homepage}}{% endif %}"  class="repo.name" target="_blank">
                  <div class="d-inline w-25 p-3"> {{ repo.name }}</div>
              </a>
              {% include "includes/repo_description.html.twig" %}
          </li>
              {% endif %}
          {% endfor %}
      </ul>
  </div>
  <div class="tab-pane fade" id="script" role="tabpanel" aria-labelledby="script-tab">
      <pre><code>
      {% for repo in repos %}{% if repo.archived == false %}
      test -d {{repo.name}} || git clone {{ repo.ssh_url }};
      {% endif %}{% endfor %}

      STRINGLIST="\
      {% for repo in repos %}{% if repo.archived == false %}{{ repo.name }} \
      {% endif %}{% endfor %}
      ";
      </code></pre>
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <ul class="list-group list-group-flush">
          {% for repo in repos %}
              {% if repo.archived == true %}
          <li class="list-group-item">
              <a href="{{ repo.html_url }}" target="_blank">
                  {{ repo.name }}
              </a>
              {% include "includes/repo_description.html.twig" %}
          </li>
              {% endif %}
          {% endfor %}
      </ul>
  </div>
</div>

{% endblock content %}
