{% extends 'base.html.twig' %}
{% block content %}
<style>
    .repo.name {
        width: 300px;
    }
</style>

{% if org.login is defined %}
    {% block title_block %}Org {{ org.login }}{% endblock title_block %}
{% endif %}


<h2>Active Repos</h2>
<ul class="list-group list-group-flush">
    {% for repo in repos %}
        {% if repo.archived == false %}
    <li class="list-group-item">
        {% include "includes/repo_badges.html.twig" %}
        <a href="{% if repo.homepage is empty %}{{ repo.html_url}}{% else %}{{ repo.homepage}}{% endif %}"  class="repo.name" target="_blank">
            <div class="d-inline w-25 p-3"> {{ repo.name }}</div>
        </a>
        {% include "includes/repo_description.html.twig" %}
    </li>
        {% endif %}
    {% endfor %}
</ul>

<h2>Lists</h2>
<pre><code>
{% for repo in repos %}{% if repo.archived == false %}
test -d {{repo.name}} || git clone {{ repo.ssh_url }};
{% endif %}{% endfor %}

STRINGLIST="\
{% for repo in repos %}{% if repo.archived == false %}{{ repo.name }} \
{% endif %}{% endfor %}
";
</code></pre>


<hr>

<h2>Archived Repos</h2>
<ul class="list-group list-group-flush">
    {% for repo in repos %}
        {% if repo.archived == true %}
    <li class="list-group-item">
        <a href="{{ repo.html_url }}" target="_blank">
            {{ repo.name }}
        </a>
        {% include "includes/repo_description.html.twig" %}
    </li>
        {% endif %}
    {% endfor %}
</ul>


{% endblock content %}
