<div class="float-right">


    <span class="badge badge-light">{{repo.updated_at}}</span>
    <span class="badge badge-primary">{{repo.language}}</span>
    <small class="text-muted">{{ repo.description }}</small>

    {% for branch in repo.branches %}
        <span class="badge badge-secondary">{{branch}}</span>
    {% endfor %}

    {% for tag in repo.tags|slice(0, 5) %}
        <span class="badge badge-info">{{tag.name}}</span>
    {% endfor %}

</div>
