{% for team in repo.teams %}
    <span class="badge badge-secondary">{{team.name}}</span>
{% endfor %}


<div class="float-right" title="Updated at {{repo.updated_at}}">
    <small class="text-muted">{{ repo.description }}</small>

    <a href="{{ repo.html_url }}" target="_blank">
        <span class="badge badge-primary">{{repo.language}}</span>
    </a>

    {% for branch in repo.branches %}
        <span class="badge badge-secondary">{{branch}}</span>
    {% endfor %}

    {% for tag in repo.tags|slice(0, 2) %}
        <span class="badge badge-info">{{tag.name}}</span>
    {% endfor %}

    {% if repo.private == true %}
        <span class="badge badge-info">Private</span>
    {% else %}
        {% include "includes/repo_badges_public.html.twig" %}
    {% endif %}

</div>
